.THIS .slds-card__body {
	margin-bottom: 0px;
}
.THIS .slds-card__footer {
	text-align: center;
}

.THIS .slds-cell-fixed {
	min-height: 22px;
}

.THIS .slds-table--header-fixed_container {
	padding-top: 22px;
}

.THIS .floating-div-left-padding {
	padding-left: 7px;
}