.THIS .slds-icon-custom-custom6 {
	background-color: #bf5a88;
}

.THIS .slds-card__body {
	margin-bottom: 0px;
}

.THIS .slds-card__footer {
	text-align: center;
}

.THIS .slds-form-element__control {
	width: 100%;
}

.THIS .slds-cell-fixed {
	min-height: 22px;
}

.THIS .slds-table--header-fixed_container {
	padding-top: 22px;
}

.THIS .floating-div-left-padding {
	padding-left: 7px;
}